<div class="content">
  <div style="margin-top: 60px; display: flex;">
    <h1 style="flex-grow: 1;">Work Report</h1>
    <div class="icon-link">
     
        <%= link_to new_workreport_path(user_id: current_user.id), class: "float-end btn-icon-container" do %>
          <%= image_tag("action/add.png", alt: "New Work Report", class: "btn-icon", style: "height: 25px; width: 25px;") %>
          <p class="icon-text" style="margin-left: 10px;">Create WorkReport</p>
     
      <% end %>
      <% unless current_user.role.role_name == "Employee" %>
        <%= link_to allworkreports_path, class: "float-end btn-icon-container" do %>
          <%= image_tag("action/add.png", alt: "New Work Report", class: "btn-icon", style: "height: 25px; width: 25px;") %>
          <p class="icon-text" style="margin-left: 10px;">Other WorkReport</p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div style="margin-top: 20px;">
    <%= select_tag 'project_filter', options_for_select(Project.all.map{ |p| [p.name, p.id] }.unshift(['All Projects', nil])), class: 'form-control' %>
    <input type="date" id="date_filter" class="form-control">
  </div>
  <table class="table table-bordered table-striped" id="workreport-table">
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Project</th>
        <th>Tasks</th>
        <th>Hour</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @workreports.each_with_index do |workreport, index| %>
        <tr data-project-id="<%= workreport.projects_id %>">
          <% if index == 0 || workreport.date != @workreports[index - 1].date %>
            <td rowspan="<%= @workreports.count { |wr| wr.date == workreport.date } %>"><%= workreport.date %></td>
          <% end %>
          <td><%= Project.find(workreport.projects_id).name %></td>
          <td><%= workreport.tasks %></td>
          <td><%= "%02d:%02d" % [workreport.hours, workreport.minutes] %></td>
          <td><%= workreport.status == 'inprogress' ? 'Incomplete' : 'Complete' %></td>
          <td>
            <%= link_to workreport, class: 'btn-delete' do %>
              <%= image_tag('action/show.png', height: 30) %>
              <span class="tooltip-text">Show</span>
            <% end %>
            <% if Time.now.hour < 20 && workreport.date >= Date.today - 1 %>
              <%= link_to edit_workreport_path(workreport), class: 'btn-delete' do %>
                <%= image_tag('action/pencil.png', height: 40) %>
                <span class="tooltip-text">Edit</span>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'shared/error' %>
<%= render 'shared/back_button' %>
<%= render 'layouts/sidebar' %>

<script>
   document.addEventListener('turbo:load', function() {
    const projectFilter = document.getElementById('project_filter');
    const dateFilter = document.getElementById('date_filter');
    const tableRows = document.querySelectorAll('#workreport-table tbody tr');

    projectFilter.addEventListener('change', filterTable);
    dateFilter.addEventListener('change', filterTable);

    function filterTable() {
      const selectedProjectId = projectFilter.value;
      const selectedDate = dateFilter.value;

      tableRows.forEach(function(row) {
        const projectId = row.getAttribute('data-project-id');
        const rowDate = row.querySelector('td:first-child').textContent;

        const projectMatch = selectedProjectId === '' || projectId === selectedProjectId;
        const dateMatch = selectedDate === '' || rowDate === selectedDate;

        if (projectMatch && dateMatch) {
          row.style.display = 'table-row';
        } else {
          row.style.display = 'none';
        }
      });
    }
  });
</script>
