<% if controller_name != 'sessions' %>
  <button class="back-to-login" onclick="window.location.href='<%= new_session_path(resource_name) %>'" style="background-color: rgb(112, 112, 112); border-color: rgb(112, 112, 112); color: #fff;">Back to Login</button>
<% end %>

<%# <% if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%# <%= link_to "Sign up", new_registration_path(resource_name), class: "auth-link" %><br /> 
<%# <% end %> 
<% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), class: "auth-link", style: "color: rgb(112, 112, 112); text-decoration: none;" %><br />
<% end %>
  

<% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "auth-link" %><br />
<% end %>

<% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "auth-link" %><br />
<% end %>

<% if devise_mapping.omniauthable? %>
  <% resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "auth-button" %><br />
  <% end %>
<% end %>

