<div class="content">
  <div class="report-form">
    <div class="field">
      <h1 style="color: #365486; display: flex; justify-content: space-between; align-items: center;">Profile
        <%= link_to edit_user_path(@user), class: 'btn-delete' do %>
          <%= image_tag('action/edit.png', height: 30) %>
        <% end %>
      </h1>
      <br>
      <div style="float: right;">
        <% if @user.avatar.attached? %>
          <%= image_tag url_for(@user.avatar), alt: "User Avatar", class: "round-avatar" %>
        <% end %>
      </div>
      <br>
      <p><strong>First Name:</strong> <%= @user.f_name %></p>
      <p><strong>Last Name:</strong> <%= @user.l_name %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <p><strong>User Type:</strong> <%= @user.role.role_name %></p>
      <p><strong>Account Number:</strong> <%= @user.accountnumber %></p>
      <p><strong>IFSC:</strong> <%= @user.ifsc %></p>
      <p><strong>Mobile Number:</strong> <%= @user.mobileNumber %></p>
      <p><strong>Joining Date:</strong> <%= @user.joiningDate %></p>
      <p><strong>Is Active:</strong> <%= @user.isactive %></p>
      <%= link_to 'Change Password', edit_user_password_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <%= render 'shared/back_button' %>
</div>
<%= render 'shared/error' %>
<%= render 'layouts/sidebar' %>
