<div style="max-width: 400px; margin: 0 auto; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
  <div style="padding: 20px;">
    <h2 style="color: #365486; font-size: 24px; margin-bottom: 20px;">Forgot your password?</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div style="margin-bottom: 20px;">
        <%= f.label :email, "Email", class: "form-label", style: "font-size: 16px; color: #365486; display: block;" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style: "width: 100%; padding: 10px; font-size: 16px; border: 1px solid #cccccc; border-radius: 4px;" %>
      </div>

      <div style="margin-top: 20px;">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary", style: "background-color: #365486; color: #ffffff; border: none; padding: 10px 20px; border-radius: 4px; font-size: 16px; cursor: pointer;" %>
      </div>
    <% end %>

   
  </div>
</div>
